{
  "trailingComma": "all",
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^pages/(.*)$",
    "^containers/(.*)$",
    "^components/(.*)$",
    "^utils/(.*)$",
    "^assets/(.*)$",
    "^fonts/(.*)$",
    "^styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
