{
  "trailingComma": "all",
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["*.json"],
      "options": {
        "parser": "json5",
        "quoteProps": "preserve",
        "singleQuote": false,
        "trailingComma": "none"
      }
    }
  ]
}
